{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-4 pt-4">
                <h3>{{ title }}</h3>
                <form method="POST" action="/order/edit/{{ order.id }}">
                        {{ form.csrf_token }}
                        {{ form.product.label }}
                        {{ form.product(class="form-control") }}
                        {{ form.provider.label }}
                        {{ form.provider(class="form-control") }}
                        {{ form.client.label }}
                        {{ form.client(class="form-control") }}
                        {{ form.date.label }}
                        {{ form.date(class="form-control dtpick") }}
                        {{ form.count.label }}
                        {{ form.count(class="form-control") }}
                        {{ form.comment.label }}
                        {{ form.comment(class="form-control") }}
                        <div class="buttons">
                            <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                        </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}