{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between p-2">
                    <h3>{{ title }}</h3>
                    <div>
                    <a class="btn btn-secondary" href="/order/add"><i class="fas fa-plus">&nbsp;Добавить</i></a>
            </div>
        </div>

        <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" >Название продукта</th>
                    <th scope="col" >Поставщик</th>
                    <th scope="col" >Дата</th>
                    <th scope="col" >Количество</th>
                    <th scope="col" >Действие</th>
                </tr>
                </thead>
                <tbody>
                    {% if orders %}
                        {% for order in orders %}
                            <tr>
                                <th scope="row">{{ order.id }}</th>
                                <td>{{ order.product.name}}</td>
                                <td>{{ order.provider.user.fio}}</td>
                                <td>{{ order.date | datetime}}</td>
                                <td>{{ order.count}}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Action">

                                        <button class="btn btn-secondary"
                                                onclick="location.href='/order/edit/{{ order.id }}'">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <a href="#" role="button" class="btn btn-secondary" data-href="/order/delete/{{ order.id }}" data-toggle="modal" data-target="#confirm-delete">
                                                <i class="fas fa-trash-alt"></i>
                                        </a>

                                            <button class="btn btn-secondary"
                                                    onclick="location.href='/order/show/{{ order.id }}'">
                                                        <i class="fas fa-eye"></i>
                                                    </button>
                                            {% if order.accepted %}
                                                <a href="#" role="button" class="btn btn-success" data-href="/order/accepted/{{ order.id }}" data-toggle="modal" data-target="#accepted-order">
                                                    <i class="fas fa-check"></i></a>
                                            {% else %}
                                                <a href="#" role="button" class="btn btn-secondary" data-href="/order/accepted/{{ order.id }}" data-toggle="modal" data-target="#accepted-order">
                                                    <i class="fas fa-check"></i></a>
                                            {% endif %}

                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center">Записи отсутствуют!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

        {# START confirmDialog #}
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Подтвердить удаление</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены, что хотите продолжить удаление?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                        <a class="btn btn-secondary btn-ok">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        {# END confirmDialog #}
        {# START acceptedDialog #}
        <div class="modal fade" id="accepted-order" tabindex="-1" role="dialog" aria-labelledby="acceptedModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Подтвердить прием?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены, что хотите подтвердить прием товара?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                        <a class="btn btn-secondary btn-ok">Подтвердить</a>
                    </div>
                </div>
            </div>
        </div>
        {# END acceptedDialog #}

        </div>
    </div>
        </div>
    </div>

{% endblock %}
