{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-6 pt-4">
                <h3>{{ title }}</h3>
                {% if order!=None %}
                    <table class="table">
                        <caption style="caption-side: top;">Название <span>{{ order.product.name }}  </span>
                        </caption>
                        <tbody>
                            <tr>
                                <td>Артикул</td>
                                <td>{{ order.product.code }}</td>
                            </tr>
                            <tr>
                                <td>Цена</td>
                                <td>{{ order.product.price }}</td>
                            </tr>
                            <tr>
                                <td>Количество</td>
                                <td>{{ order.count }}</td>
                            </tr>
                            <tr>
                                <td>Категория товара</td>
                                <td>{{ order.product.category }}</td>
                            </tr>
                            <tr>
                                <td>Дата поставки</td>
                                <td>{{ order.date }}</td>
                            </tr>
                            <tr>
                                <td>Дата создания заказа</td>
                                <td>{{ order.create_date }}</td>
                            </tr>
                            <tr>
                                <td>Поставщик</td>
                                <td>{{ order.provider.user.fio }}</td>
                            </tr>
                            <tr>
                                <td>Комментарий</td>
                                <td>{{ order.comment }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% for comment in comments %}
                        <div class="alert alert-success" role="alert">
                            <div class="row d-flex justify-content-around">
                                <div class="col-auto">
                                    <h5 class="alert-heading">{{ comment.user.login }}   {{ comment.date | datetime }}</h5></div>
                                <div class="col-auto">
                                    <button class="btn btn-secondary"
                                                onclick="location.href='/order/delete/{{ order.id }}/comment/{{ comment.id }}'">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                </div>

                            </div>

                            <hr>
                            <p>{{ comment.text }}</p>
                        </div>
                    {% endfor %}
                    <form method="POST" action="/order/show/{{ order.id }}">
                        {{ form.csrf_token }}
                        {{ form.comment.label }}
                        {{ form.comment(class="form-control", placeholder='Текст комментария') }}
                        <div class="buttons">
                            <button type="submit" class="btn btn-primary btn-block">Написать</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}