{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-4 pt-4">
                <h3>{{ title }}</h3>
                <form method="POST" action="/provider/edit/{{ provider.id }}">
                        {{ form.csrf_token }}
                        {{ form.login.label }}
                        {{ form.login(class="form-control", placeholder='Введите логин', maxlength=50, size=50) }}
                        {{ form.password.label }}
                        {{ form.password(class="form-control", placeholder='Введите пароль', maxlength=50, size=50) }}
                        {{ form.fio.label }}
                        {{ form.fio(class="form-control", placeholder='Введите ФИО', maxlength=50, size=50) }}
                        {{ form.email.label }}
                        {{ form.email(class="form-control", placeholder='Введите логин', maxlength=50, size=50) }}
                        {{ form.phone.label }}
                        {{ form.phone(class="form-control", placeholder='Введите телефон', maxlength=50, size=50) }}
                        {{ form.id_role.label }}
                        {{ form.id_role(class="form-control") }}
                        {{ form.name_org.label }}
                        {{ form.name_org(class="form-control", placeholder='Введите название организации', maxlength=50, size=50) }}
                        {{ form.address.label }}
                        {{ form.address(class="form-control", placeholder='Введите адрес', maxlength=50, size=50) }}

                        <div class="buttons">
                            <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>

{% endblock %}