{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-4 pt-4">
                <h3>{{ title }}</h3>
                {% if provider!=None %}
                    <table class="table">
                        <caption style="caption-side: top;">Пользователь <span>{{ provider.user.login }}  </span>
                        </caption>
                        <tbody>
                            <tr>
                                <td>Идетификатор</td>
                                <td>{{ provider.id }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ provider.user.email }}</td>
                            </tr>
                            <tr>
                                <td>Телефон</td>
                                <td>{{ provider.user.phone }}</td>
                            </tr>
                            <tr>
                                <td>Организация</td>
                                <td>{{ provider.organization }}</td>
                            </tr>
                            <tr>
                                <td>Роль</td>
                                <td>{{ provider.user.role.name }}</td>
                            </tr>
                            <tr>
                                <td>Адрес</td>
                                <td>{{ provider.address }}</td>
                            </tr>
                            <tr>
                                <td>Товары</td>
                                <td>
                                    {% if provider.products %}
                                        {% for product in provider.products %}
                                            <span class="badge badge-secondary">{{ product.name }}</span>
                                        {% endfor %}
                                    {% else %}
                                        <span>Товары отсутствуют!</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}