{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between p-2">
                    <h3>{{ title }}</h3>
                </div>
            </div>
        </div>

        <div class="table-responsive">

            <table class="table table-striped justify-content-center">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="col">ФИО</th>
                    <th scope="col" class="col">Телефон</th>
                    <th scope="col" class="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% if users %}
                    {% for user in users %}
                        <tr>
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.fio }}</td>
                            <td>{{ user.phone }}</td>
                            <td>
                                <a href="#" role="button" class="btn btn-success" data-href="/confirm/{{ user.id }}" data-toggle="modal" data-target="#confirm-delete">
                                    <i class="fas fa-check"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">Записи отсутствуют!</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

        {# START confirmDialog #}
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Потвердить аккаунт пользователя</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены, что хотите добавить пользователя?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                        <a class="btn btn-success btn-ok">Подтвердить</a>
                    </div>
                </div>
            </div>
        </div>
        {# END confirmDialog #}
        </div>
    </div>

{% endblock %}