{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-4 pt-4">
                <h3>{{ title }}</h3>
                {% if client!=None %}
                    {% for cli in client %}
                        <table class="table">
                            <caption style="caption-side: top;">Пользователь <span>{{ cli.login }}  </span>
                            </caption>
                            <tbody>
                                <tr>
                                    <td>Идетификатор</td>
                                    <td>{{ cli.id }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ cli.email }}</td>
                                </tr>
                                <tr>
                                    <td>Телефон</td>
                                    <td>{{ cli.phone }}</td>
                                </tr>
                                <tr>
                                    <td>Организация</td>
                                    <td>{{ cli.name_org }}</td>
                                </tr>
                                <tr>
                                    <td>Роль</td>
                                    <td>{{ cli.id_role }}</td>
                                </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}