
._login-table{
    height: 100%;
    margin-top: 10%;
}
._register-table{
    height: 100%;
    margin-top: 10%;
}
.buttons{
    margin-top: 10px;
}

.content{
    margin-top: 10px;
}
.error-login{
    border-left: solid 3px firebrick;
}