{% extends 'base.html' %}
{% block title %}Упс!{% endblock %}
{% block body %}
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-4 pt-4">
                <h3>Упс!</h3>
                <h3>Подождите подтверждения вашего аккаунта администратором!</h3>
                <a class="btn btn-primary btn-block" href="/logout">Выход</a>
            </div>
        </div>
    </div>
{% endblock %}
