{% extends 'base.html' %}


{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-11 col-md-6 col-lg-4 _login-table">
                <div class="card text-center">
                    <div class="card-header">
                        <div class="row justify-content-center">
                            <i class="fas fa-user-circle fa-10x"></i>
                        </div>
                        {% if error %}
                            <div class="row">
                                <div class="container error-login">
                                    <h4>ОШИБКА!</h4>
                                    {{ error }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/">
                            {{ form.csrf_token }}
                            {{ form.login.label }}
                            {{ form.login(class="form-control", placeholder='Введите логин...', maxlength=50, size=50) }}
                            {{ form.password.label}}
                            {{ form.password(class="form-control", placeholder='Введите пароль...', maxlength=50, size=50) }}
                            <div class="buttons">
                                <button type="submit" class="btn btn-primary btn-block">Войти</button>
                                <a class="btn btn-primary btn-block" href="/registration">Регистрация</a>
                            </div>
                        </form>
                  </div>
                  <div class="card-footer text-muted">
                      <a href="#">Забыли пароль?</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}