{% extends 'auth.html' %}

{% block body %}
    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-4 pt-4">
                <h3>Профиль</h3>
                {{ p }}
                {% if user!=None %}
                    <table class="table">
                        <caption style="caption-side: top;">Пользователь <span>{{ user.login }}  </span>
                        </caption>
                        <tbody>
                            <tr>
                                <td>Идетификатор</td>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <td>ФИО</td>
                                <td>{{ user.fio }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td>Телефон</td>
                                <td>{{ user.phone }}</td>
                            </tr>
                            <tr>
                                <td>Роль</td>
                                <td>{{ user.id_role }}</td>
                            </tr>
                            {% if user.address %}
                                <tr>
                                    <td>Адрес</td>
                                    <td>{{ user.address }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}