{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-11 col-md-6 col-lg-4 _register-table">
                <div class="card text-center">
                    <div class="card-header">
                        <div class="row justify-content-center">
                            <span>Регистрация</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/registration">
                            {{ form.csrf_token }}
                            {{ form.is_client(class="form-control") }}
                            {{ form.login.label}}
                            {{ form.login(class="form-control", placeholder='Введите логин...', maxlength=50, size=50) }}
                            {{ form.password.label}}
                            {{ form.password(class="form-control", placeholder='Введите пароль...', maxlength=50, size=50) }}
                            {{ form.confirm.label}}
                            {{ form.confirm(class="form-control", placeholder='Повторите пароль...', maxlength=50, size=50) }}
                            {{ form.fio.label}}
                            {{ form.fio(class="form-control", placeholder='Введите ФИО...', maxlength=50, size=50) }}
                            {{ form.email.label}}
                            {{ form.email(class="form-control", placeholder='Введите email...', maxlength=50, size=50) }}
                            {{ form.phone.label}}
                            {{ form.phone(class="form-control", placeholder='Введите телефон...', maxlength=50, size=50) }}
                            {{ form.organization.label}}
                            {{ form.organization(class="form-control", placeholder='Введите организацию...', maxlength=50, size=50) }}
                            {{ form.address.label}}
                            {{ form.address(class="form-control", placeholder='Введите адрес...', maxlength=50, size=50) }}
                            <div class="buttons">
                                <button type="submit" class="btn btn-primary btn-block">Регистрация</button>
                            </div>
                        </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}