{% extends 'auth.html' %}

{% block body %}
    <div class="container content">
        <div class="row">
            <div class="col"><h3>Статистика</h3></div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Количество поставщиков: <span class="badge badge-secondary">{{ providers }}</span></h5>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Количество сотрудников <span class="badge badge-secondary">{{ clients }}</span></h5>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Количество товаров <span class="badge badge-secondary">{{ products }}</span></h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Количество заказов <span class="badge badge-secondary">{{orders}}</span></h5>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Кол-во выпол. заказов <span class="badge badge-secondary">{{ done_orders }}</span></h5>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <h5 class="card-header">Кол-во не выпол. заказов <span class="badge badge-secondary">{{orders-done_orders}}</span></h5>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col">
                <div class="d-flex justify-content-between p-2">
                    <h3>Товары, количество которых меньше 10</h3>
                </div>

                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="col">Название</th>
                            <th scope="col" class="col">Артикул</th>
                            <th scope="col" class="col">Цена</th>
                            <th scope="col" class="col">Количество</th>
                            <th scope="col" class="col">Категория</th>
                            <th scope="col" class="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if ten_products %}
                            {% for product in ten_products %}
                                <tr>
                                    <th scope="row">{{ product.id }}</th>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.code }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.count }}</td>
                                    <td>{{ product.category.name }}</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Action">

                                            <button class="btn btn-secondary"
                                                    onclick="location.href='/product/edit/{{ product.id }}'">
                                                <i class="fas fa-pencil-alt"></i>
                                            </button>

                                            <a href="#" role="button" class="btn btn-secondary"
                                               data-href="/product/delete/{{ product.id }}" data-toggle="modal"
                                               data-target="#confirm-delete">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                            <button class="btn btn-secondary"
                                            onclick="location.href='/product/show/{{ product.id }}'">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center">Записи отсутствуют!</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}