{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center p-2">
                    <h3>{{ title }}</h3>
                 </div>
            </div>
        </div>

        <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" >Название продукта</th>
                    <th scope="col" >Поставщик</th>
                    <th scope="col" >Дата</th>
                    <th scope="col" >Количество</th>
                    <th scope="col" >Действие</th>
                </tr>
                </thead>
                <tbody>
                    {% if orders %}
                        {% for order in orders %}
                                <tr>
                                    <th scope="row">{{ order.id }}</th>
                                    <td>{{ order.product.name}}</td>
                                    <td>{{ order.provider.user.fio}}</td>
                                    <td>{{ order.date | datetime}}</td>
                                    <td>{{ order.count}}</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Action">
                                            {% if order.confirm == True %}
                                                <a href="#" role="button" class="btn btn-secondary btn-success" data-href="/order/confirm/{{ order.id }}" data-toggle="modal" data-target="#confirm-delete">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                            {% else %}
                                                <a href="#" role="button" class="btn btn-secondary" data-href="/order/confirm/{{ order.id }}" data-toggle="modal" data-target="#confirm-delete">
                                                        <i class="fas fa-check"></i>
                                                </a>
                                            {%endif%}
                                            <button class="btn btn-secondary"
                                                    onclick="location.href='/order/show_my/{{ order.id }}'">
                                                        <i class="fas fa-eye"></i>
                                            </button>
                                            <button class="btn btn-secondary btn-danger"
                                                    onclick="location.href='/order/show_my/{{ order.id }}'">
                                                        <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center">Записи отсутствуют!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

        {# START confirmDialog #}
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Подтверждение</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                        <a class="btn btn-secondary btn-ok">Да</a>
                    </div>
                </div>
            </div>
        </div>
        {# END confirmDialog #}

        </div>
    </div>

{% endblock %}