{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-4 pt-4">
                <h3>{{ title }}</h3>
                <form method="POST" action="/product/addProvider/{{ product.id }}">
                    {{ form.csrf_token }}
                    {{ form.provider.label }}
                    {{ form.provider(class="form-control") }}
                    <div class="buttons">
                        <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}