{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-4 pt-4">
                <h3>{{ title }}</h3>
                <form method="POST" action="/product/edit/{{ product.id }}">
                    {{ form.csrf_token }}
                    {{ form.name.label }}
                    {{ form.name(class="form-control", placeholder='Введите название...', maxlength=50, size=50) }}
                    {{ form.code.label }}
                    {{ form.code(class="form-control", placeholder='Введите арктикул...', maxlength=50, size=50) }}
                    {{ form.price.label }}
                    {{ form.price(class="form-control", placeholder='Введите цену...', maxlength=50, size=50) }}
                    {{ form.count.label }}
                    {{ form.count(class="form-control", placeholder='Введите количество...', maxlength=50, size=50) }}
                    {{ form.category.label }}
                    {{ form.category(class="form-control") }}
                    {{ form.unit.label }}
                    {{ form.unit(class="form-control") }}
                    <div class="buttons">
                        <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}