{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between p-2">
                    <h3>Список товаров</h3>
                    <div>
                        <a class="btn btn-secondary" href="/product/add"><i class="fas fa-plus">&nbsp;Добавить</i></a>
                    </div>
                </div>

                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" class="col">Название</th>
                            <th scope="col" class="col">Артикул</th>
                            <th scope="col" class="col">Цена</th>
                            <th scope="col" class="col">Количество</th>
                            <th scope="col" class="col">Категория</th>
                            <th scope="col" class="col">Единица измерения</th>
                            <th scope="col" class="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if products %}
                            {% for product in products %}
                                <tr>
                                    <th scope="row">{{ product.id }}</th>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.code }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.count }}</td>
                                    <td>{{ product.category.name }}</td>
                                    <td>{{ product.unit }}</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Action">

                                            <button class="btn btn-secondary"
                                                    onclick="location.href='/product/edit/{{ product.id }}'">
                                                <i class="fas fa-pencil-alt"></i>
                                            </button>

                                            <a href="#" role="button" class="btn btn-secondary"
                                               data-href="/product/delete/{{ product.id }}" data-toggle="modal"
                                               data-target="#confirm-delete">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                            <button class="btn btn-secondary"
                                            onclick="location.href='/product/show/{{ product.id }}'">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center">Записи отсутствуют!</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                    {# START confirmDialog #}
                    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"
                         aria-labelledby="confirmModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Потвердить удаление</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Вы уверены, что хотите продолжить удаление?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                    <a class="btn btn-secondary btn-ok">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# END confirmDialog #}
                </div>
            </div>
        </div>
    </div>

{% endblock %}