{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-4 pt-4">
                <h3>{{ title }}</h3>
                {% if product!=None %}
                    <table class="table">
                        <caption style="caption-side: top;">Название <span>{{ product.name }}  </span>
                        </caption>
                        <tbody>
                            <tr>
                                <td>Артикул</td>
                                <td>{{ product.code }}</td>
                            </tr>
                            <tr>
                                <td>Цена</td>
                                <td>{{ product.price }}</td>
                            </tr>
                            <tr>
                                <td>Количество</td>
                                <td>{{ product.count }}</td>
                            </tr>
                            <tr>
                                <td>Категория товара</td>
                                <td>{{ product.category }}</td>
                            </tr>
                            <tr>
                                <td>Единица измерения</td>
                                <td>{{ product.unit }}</td>
                            </tr>
                            <tr>
                                <td>Поставщики</td>
                                <td>
                                    {% if product.providers %}
                                        {% for provider in product.providers %}
                                            <tr>
                                                <td><span class="badge badge-secondary">{{ provider.user.fio }}</span></td>
                                                <td>
                                                    <a href="#" role="button" class="btn btn-secondary"
                                                        data-href="/product/deleteProvider/{{ product.id }}/{{ provider.id }}" data-toggle="modal"
                                                        data-target="#confirm-delete">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <span>Товары отсутствуют!</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><a class="btn btn-secondary w-100" href="/product/addProvider/{{ product.id }}"><i class="fas fa-plus">&nbsp;Добавить</i></a></td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
    {# START confirmDialog #}
                    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"
                         aria-labelledby="confirmModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Потвердить удаление</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Вы уверены, что хотите продолжить удаление?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                    <a class="btn btn-secondary btn-ok">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# END confirmDialog #}
{% endblock %}