{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-6 pt-4">
                <h3>{{ title }}</h3>
                <form method="POST" action="/permission/edit/{{ permission.id }}">
                        {{ form.csrf_token }}
                        {{ form.name.label }}
                        {{ form.name(class="form-control", placeholder='Введите название', maxlength=50, size=50) }}
                        <div class="buttons">
                            <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>

{% endblock %}