{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between p-2">
                    <h3>{{ title }}</h3>
                    <div>
                        <a class="btn btn-secondary" href="/permission/rolepermission"><i class="fas fa-eye"></i></a>
                        <a class="btn btn-secondary" href="/permission/add"><i class="fas fa-plus">&nbsp;Добавить</i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="col">Название</th>
                    <th scope="col" class="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                    {% if permissions %}
                        {% for permission in permissions %}
                            <tr>
                                <th scope="row">{{ permission.id }}</th>
                                <td>{{ permission.name }}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Action">

                                        <button class="btn btn-secondary"
                                                onclick="location.href='/permission/edit/{{ permission.id }}'">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <a href="#" role="button" class="btn btn-secondary" data-href="/permission/delete/{{ permission.id }}" data-toggle="modal" data-target="#confirm-delete">
                                                <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3" class="text-center">Записи отсутствуют!</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    {# START confirmDialog #}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Подтвердить удаление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите продолжить удаление?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                    <a class="btn btn-secondary btn-ok">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    {# END confirmDialog #}

{% endblock %}