{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between p-2">
                    <h3>{{ title }}</h3>
                    <div>
                        <a class="btn btn-secondary" href="/permission/addroleperm"><i class="fas fa-plus">&nbsp;Добавить</i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" class="col">Роль</th>
                    <th scope="col" class="col">Права</th>
                    <th scope="col" class="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for role in roles %}
                    <tr>
                        <td>{{ role.role_name }}</td>
                        <td>{{ role.permission }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Action">
                                <a href="#" role="button" class="btn btn-secondary" data-href="/permission/deleterp/{{ role.role_id }}/{{ role.permission_id }}" data-toggle="modal" data-target="#confirm-delete">
                                        <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {# START confirmDialog #}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Подтвердить удаление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите продолжить удаление?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                    <a class="btn btn-secondary btn-ok">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    {# END confirmDialog #}

{% endblock %}