{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row justify-content-center">
            <div class="col-4 pt-4">
                <h3>{{ title }}</h3>
                <form method="POST" action="/menu/edit/{{ menu.id }}">
                        {{ form.csrf_token }}
                        {{ form.name.label }}
                        {{ form.name(class="form-control", placeholder='Введите название', maxlength=50, size=50) }}
                        {{ form.route.label }}
                        {{ form.route(class="form-control", placeholder='Введите адрес', maxlength=50, size=50) }}
                        {{ form.role.label }}
                        {{ form.role(class="form-control") }}
                        {{ form.order.label }}
                        {{ form.order(class="form-control", maxlength=50, size=50) }}
                        <div class="buttons">
                            <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>

{% endblock %}