{% extends 'auth.html' %}

{% block content %}

    <div class="container content">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between p-2">
                    <h3>Меню</h3>
                    <div>
                    <a class="btn btn-secondary" href="/menu/add"><i class="fas fa-plus">&nbsp;Добавить</i></a>
            </div>
        </div>

        <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="col">Название</th>
                    <th scope="col" class="col">Индекс</th>
                    <th scope="col" class="col">Адрес</th>
                    <th scope="col" class="col">Роль</th>
                    <th scope="col" class="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for menu in menus %}
                    <tr>
                        <th scope="row">{{ menu.id }}</th>
                        <td>{{ menu.name }}</td>
                        <td>{{ menu.order }}</td>
                        <td>{{ menu.route }}</td>
                        <td>{{ menu.role.name }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Action">

                                <button class="btn btn-secondary"
                                        onclick="location.href='/menu/edit/{{ menu.id }}'">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <a href="#" role="button" class="btn btn-secondary" data-href="/menu/delete/{{ menu.id }}" data-toggle="modal" data-target="#confirm-delete">
                                        <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {# START confirmDialog #}
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Подтвердить удаление</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены, что хотите продолжить удаление?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                        <a class="btn btn-secondary btn-ok">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        {# END confirmDialog #}

        </div>
    </div>
        </div>
    </div>

{% endblock %}